@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema @ViewData["nombreUsuario"]</h1>

    <div class="mt-4">
        <h3>Accesos Rápidos</h3>
        <div class="d-flex justify-content-center gap-3 mt-3">
            
           @if (User.IsInRole("Administrador"))
            {
                <a asp-controller="Productos" asp-action="Index" class="btn btn-primary btn-lg">
                    <i class="bi bi-box-seam"></i> Productos
                </a>
            }

            @if (User.IsInRole("Administrador"))
            {
                <a asp-controller="Admin" asp-action="Usuarios" class="btn btn-secondary btn-lg">
                    <i class="bi bi-people"></i> Usuarios
                </a>
            }

            @if (User.IsInRole("Administrador"))
            {
                <a asp-controller="Proveedores" asp-action="Index" class="btn btn-info btn-lg">
                    <i class="bi bi-truck"></i> Proveedores
                </a>
            }
            
            @if (User.IsInRole("Administrador"))
            {
                <a asp-controller="Clientes" asp-action="Index" class="btn btn-success btn-lg">
                    <i class="bi bi-person-lines-fill"></i> Clientes
                </a>
            }

            @if (User.IsInRole("Administrador"))
            {
                <a asp-controller="Compras" asp-action="Index" class="btn btn-primary btn-lg">
                    <i class="bi bi-cart4"></i> Compras
                </a>
            }

            @if (User.IsInRole("Administrador") || User.IsInRole("Vendedor"))
            {
                <a asp-controller="Ventas" asp-action="Index" class="btn btn-primary btn-lg">
                    <i class="bi bi-basket2-fill"></i> Ventas

                </a>
            }

        </div>
    </div>

</div>


